<script setup>
import { ref, computed } from "vue"
import ptBR from "ant-design-vue/es/locale/pt_BR"
import dayjs from "dayjs"
import "dayjs/locale/pt-br"
dayjs.locale('pt-br')

import axios from "axios"

const locale = ref(ptBR)
const search = ref('')
const resultadoBusca = ref({})
const loading = ref(false)

const inputSearch = valor => {
  if (!valor) {
    resultadoBusca.value = {}
  } else {
    loading.value = true
    console.log(loading.value)
    axios.get(`http://localhost:8888/lista/${valor}`).then(res => {
      resultadoBusca.value = res.data.data
    })
    loading.value = false
  }
}

const verificaResultadoBusca = computed(() => {
  return Object.keys(resultadoBusca.value).length > 0 ? true : false
})
</script>

<template>
  <a-config-provider :locale="locale">
    <a-layout style="min-height: 100vh">
      <a-layout-header style="background: #fff;">Header</a-layout-header>
      <a-layout-content>
        <a-row>
          <a-col :lg="{span: 16, offset: 4}" style="padding: 25px 0;">
            <a-card title="Busca Protocolo">
              <template #extra>
                <a-input-search
                  v-model:value="search"
                  placeholder="Pesquise por protocolo"
                  style="width: 200px"
                  enter-button
                  :loading="loading"
                  allow-clear
                  @search="inputSearch"
                />
              </template>
              <a-descriptions size="small" bordered v-if="verificaResultadoBusca">
                <a-descriptions-item label="Protocolo" :span="{ lg: 1 }">
                  {{ resultadoBusca.protocolo?.cod }}
                </a-descriptions-item>
                <a-descriptions-item label="Origem">
                  {{ resultadoBusca.protocolo?.origem }}
                </a-descriptions-item>
                <a-descriptions-item label="Recebida por" :span="{ lg: 2 }">
                  {{ `${resultadoBusca.protocolo?.nome} ( ${resultadoBusca.protocolo?.setor} )` }}
                </a-descriptions-item>
                <a-descriptions-item label="Assunto">
                  {{ resultadoBusca.protocolo?.objetivo }}
                </a-descriptions-item>
                <a-descriptions-item label="Data" :span="{ lg: 2 }">
                  {{ resultadoBusca.protocolo?.data_rec_origem }}
                </a-descriptions-item>
                <a-descriptions-item label="Status">
                  {{ resultadoBusca.protocolo?.id_status === 2 ? 
                    `${resultadoBusca.protocolo?.status} Data: ${resultadoBusca.protocolo?.data_fim}` :
                    resultadoBusca.protocolo?.status }}
                </a-descriptions-item>
                <a-descriptions-item label="Observação" :span="{ lg: 2 }">$80.00</a-descriptions-item>
                <a-descriptions-item label="Aviso">$20.00</a-descriptions-item>
              </a-descriptions>
              <a-card title="Segue abaixo o fluxo do Processo na Secretaria" style="margin-top: 20px;" v-if="verificaResultadoBusca">
                <a-table :dataSource="resultadoBusca.fluxo" size="small" :pagination="false">
                  <a-table-column key="fluxo" title="Fluxo" width="100px">
                    <template #default="{ index }">
                      <span>{{ index + 1}}</span>
                    </template>
                  </a-table-column>
                  <a-table-column key="setor" title="Setor">
                    <template #default="{ record }">
                      <span>{{ record.setorDestino }}</span>
                    </template>
                  </a-table-column>
                  <a-table-column key="data_fluxo_set" title="Data" data-index="data_fluxo_set" width="150px">
                  </a-table-column>
                </a-table>
              </a-card>
              <a-empty v-else></a-empty>
            </a-card>
          </a-col>
        </a-row>
      </a-layout-content>
      <a-layout-footer style="background: #fff;">Footer</a-layout-footer>
    </a-layout>
  </a-config-provider>
</template>

<style scoped>

</style>
